{% extends 'base.html' %}

{% set active_page = "index" %}

{% block content %}

<h1>About Navigate For Rate</h1>
<hr>
<p id="info" > For many professions, utilizing a private vehicle is essential for the duties of their work. It is required by law for companies to allow employees to track mileage and get reinburst for their travel.
    The IRS innacts a set rate for different travel types that is standard for all companies across the United States.
    "Navigate For Rate" is a take on a typical employer website that would be utilized by professionals to track mileage when using their private vehicle. This fullstack application allows users to create and save driven miles that are reinbursable by their employer.
    Users can recount a driven route along with a purpose for their commute and get the accurate mileage, mapview, and expenses owed in a simple user interface.
    Traveling salesfolk, engineers, scientists, medical staff, and other professionals who utilize their personal vehicle for work will find value in this application.
    Just setup an account, create your routes, and we handle the rest.
    (Reinbursment rates are based off of newly innacted July 2022 IRS rates. See link for additional details: <a href="https://www.irs.gov/newsroom/irs-increases-mileage-rate-for-remainder-of-2022" target="_blank">IRS Details</a>)
</p>

<h4>-Eric Doering</h4>


{% endblock %}