{% extends 'base.html' %}

{% set active_page = "index" %}

{% block content %}

<h1>About Navigate For Rate</h1>
<hr>
<p>"Navigate For Rate" is a fullstack application that allows users to create and save driven miles that are reinbursable by their employer.<br>
    Users can reccount a driven route along with a purpose for their commute and get the accurate mileage, mapview, and expenses owed in a simple application.<br>
    Traveling salesfolk, engineers, scientists, medical staff, and other professionals who utilize their personal vehicle for work will find value in this application.<br>
    Just setup an account, create your route, and we handle the rest.<br>
    (Reinbursment rates are based off newly innacted July 2022 IRS rates. See link for additional details: <a href="https://www.irs.gov/newsroom/irs-increases-mileage-rate-for-remainder-of-2022" target="_blank">IRS Details</a>)
</p>

<h4>-Eric Doering</h4>


{% endblock %}