{% extends "base.html" %}

{% set active_page = "index" %}

{% block content %}

<h1>Route History</h1>

<hr>

<div>
    {% for route in routes %}
    <div>
        <a href="/routes/{{route.id}}">{{ route.date }}</a>
                    <a method="POST" href="/routes/{{ route.id }}/delete">
                        <button id="delete-button" class="btn btn-danger float-right">X</button>
                    </a>
                    <br>{{ route.comments }}
    </div>
    <hr>
    {% endfor %}
</div>

<p><a class="btn btn-primary" href="/routes/add">Add Route</a></p>

{% endblock %}